body {
    background-color: green;
}

.start {
    width: 10vw;
    height: 5vh;
    margin-right: 1vw;
}

.start:hover {
    background-color: green;
}

.items {
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-top: 40vh;
}


.items1 {
    position: absolute;
    display: block;
    top: 10%;
    left: 15%;
}

.items2 {
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-top: 0;
}

.items3 {
    position: absolute;
    top: 10%;
    right: 15%;
    display: block;
}

.info {
    display: flex;
    position: fixed;
    align-items: center;
    top: 20%;
    left: 50%;
    margin-left: -9vw;
    margin-top: 10vh;
}

.pile {
    display: flex;
    position: fixed;
    align-items: center;
    top: 30%;
    left: 50%;
    margin-left: -8vw;
    margin-top: 10vh;
}

.deckLabel {
    display: flex;
    position: fixed;
    align-items: center;
    top: 30%;
    left: 50%;
    margin-left: -5vw;
    margin-top: 32vh;
}

.card {
    width: 8vw;
    height: auto;
}

.flipped {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: -6.25vh;
}

.card:hover {
    opacity: 0.5;
}

.turn {
    text-align: center;
    align-items: center;
}

.label {
    font-size: 2rem;
}

.label0 {
    text-align: center;
    margin-top: 1%;
}

.label1 {
    position: fixed;
    left: 5%;
    margin-top: 20vh;
}

.label2 {
    text-align: center;
    margin-bottom: 1%;
}

.label3 {
    position: fixed;
    right: 5%;
    margin-top: 20vh;
}

.win {
    display: none;
}

.win1 {
    display: none;
}

.win2 {
    display: none;
}

.win3 {
    display: none;
}

@media (max-width: 480px) {
    .card {
        width: 15vw;
    }

    .start {
        width: 10vh;
        height: fit-content;
        margin-right: 1vw;
    }

    .pile {
        top: 30%;
        left: 50%;
        margin-left: -5vh;
        margin-top: -1vh;
    }

    .info {
        top: 30%;
        left: 50%;
        margin-left: -9vh;
        margin-top: -9vh;
    }

    .deckLabel {
        top: 30%;
        left: 50%;
        margin-left: -7vh;
        margin-top: 10vh;
    }

    .flipped {
        margin-top: -3vh;
    }

    .items {
        bottom: 0;
        margin-top: 70vh;
    }


    .items1 {
        top: 45%;
        left: 15%;
    }

    .items2 {
        bottom: 0;
        margin-top: 0vh;
    }

    .items3 {
        top: 45%;
        right: 15%;
    }

    .label1 {
        left: 1%;
        margin-top: 45vh;
    }


    .label3 {
        right: 1%;
        margin-top: 45vh;
    }
}

@media (min-width: 480px) and (max-width: 820px) {
    .card {
        width: 15vw;
    }

    .start {
        width: 10vh;
        height: fit-content;
        margin-right: 1vw;
    }

    .pile {
        top: 30%;
        left: 50%;
        margin-left: -10vh;
        margin-top: 15vh;
    }

    .info {
        top: 30%;
        left: 50%;
        margin-left: -9vh;
        margin-top: 5vh;
    }

    .deckLabel {
        top: 30%;
        left: 50%;
        margin-left: -8vh;
        margin-top: 30vh;
        font-size: 1.5em;
    }

    .flipped {
        margin-top: -4vh;
    }

    .items {
        bottom: 0;
        margin-top: 62vh;
    }


    .items1 {
        top: 21%;
        left: 10%;
    }

    .items2 {
        bottom: 0;
        margin-top: 0vh;
    }

    .items3 {
        top: 21%;
        right: 10%;
    }

    .label1 {
        left: 1%;
        margin-top: 25vh;
    }


    .label3 {
        right: 1%;
        margin-top: 25vh;
    }

    .label0 {
        margin-top: -21vh;
    }
}