body {
    background-color: green;
}

.items {
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-top: 70vh;
}

.pile {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -4vh;
    margin-top: 10vh;
}

.card {
    width: 8vw;
    height: auto;
}

.card:hover {
    opacity: 0.5;
}