body {
    background-color: green;
}

.items {
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-top: 45vh;
}

.items1 {
    -webkit-transform: rotate(90deg);
    position: fixed;
    display: flex;
    left: -5%;
    margin-top: 10vh;
}

.items2 {
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-top: 0;
}

.items3 {
    -webkit-transform: rotate(90deg);
    position: fixed;
    right: -5%;
    margin-top: 10vh;
    display: flex;

}

.pile {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -4vh;
    margin-top: 10vh;
}

.card {
    width: 8vw;
    height: auto;
}

.card:hover {
    opacity: 0.5;
}